@font-face {
  font-family: "lorar-regular";
  src: url("./fonts/lora-regular-webfont.woff2") format("woff2"),
    url("./fonts/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-light";
  src: url("./fonts/montserrat-light-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
