@import "./fonts";

// $base-font: "lorar-regular", sans-serif;
$base-font: "montserrat-light", serif;
$header-font: "montserrat-light", serif;

$accent: #8397af;
$gold: #d1bfa7;
$silver: #8e8e90;
$onyx: #49494b;

$slate: #262626;
$gray: #3f3f3f;
$light-gray: #dcdcdc;
$white: #f5f5f5;
